<h1>Add a Record</h1>

<%= form_for([@site, @site.records.build]) do |f| %>
<p>
  <%= f.label :date %>
  <%= f.text_field :date %>
</p>

<p>
  <%= f.label :dive_time %>
  <%= f.text_field :dive_time %>
</p>

<p>
  <%= f.label :max_depth %>
  <%= f.number_field :max_depth %>
</p>

<p>
  <%= f.label :water_temperature %>
  <%= f.number_field :water_temperature %>
</p>

<p>
  <%= f.label :activity %>
  <%= f.text_field :activity %>
</p>

<p>
  <%= f.label :notes %>
  <%= f.text_area :notes %>
</p>

<%= f.submit %>
<% end %>
