<h2>Dive Name: <%= @site.name %></h2>

<h3>Dive Location: <%= @site.location %></h3>

<h4><%= link_to "Add a New Record", new_site_record_path(@site)  %></h4>

<h3>Records:</h3>

<ol>
<% @site.records.each do |record| %>
  <li>
    <p>
      Date: <%= record.date %>
    </p>

    <p>
      Dive Time: <%= record.dive_time %>
    </p>

    <p>
      Max Depth: <%= record.max_depth %>
    </p>

    <p>
      Water Temperature: <%= record.water_temperature %>
    </p>

    <p>
      Activity: <%= record.activity %>
    </p>

    <p>
      Notes: <%= record.notes %>
    </p>

  </li>
  <hr>
  <% end %>
</ol>
