<h2>Add a new Dive Site to your Dive List</h2>

<%= form_for @site, :url => "/users/#{current_user.id}/sites/#{@site.id}" do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </p>

  <%= f.fields_for :records do |record| %>
    <p>
      <%= record.label :date %>
      <%= record.text_field :date %>
    </p>

    <p>
      <%= record.label :dive_time %>
      <%= record.text_field :dive_time %>
    </p>

    <p>
      <%= record.label :max_depth %>
      <%= record.number_field :max_depth %>
    </p>

    <p>
      <%= record.label :water_temperature %>
      <%= record.number_field :water_temperature %>
    </p>

    <p>
      <%= record.label :activity %>
      <%= record.text_field :activity %>
    </p>

    <p>
      <%= record.label :notes %>
      <%= record.text_area :notes %>
    </p>

  <% end %>

  <%= f.submit %>

<% end %>
