<!DOCTYPE html>
<html>
  <head>
    <title>ScubaRecords</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
    <%= render 'layouts/navbar' %>

    <%= render 'layouts/errors' %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
